<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeIO.scanndefine"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.homeIO.scanndefine.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.homeIO.scanndefine.HttpExample"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.homeIO.scanndefine.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.homeIO.scanndefine.MainActivity" />
        </activity>


        <activity android:name="com.homeIO.scanndefine.CameraTestActivity"
            android:label="@string/camera_test_activity">
            android:parentActivityName="com.homeIO.scanndefine.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.homeIO.scanndefine.MainActivity" />
        </activity>

        <activity android:name="com.homeIO.scanndefine.ItemList"
            android:label="Shopping List"
            android:parentActivityName="com.homeIO.scanndefine.MainActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.homeIO.scanndefine.MainActivity" />

    </application>

</manifest>
